<configuration debug="true" scan="true">

    <property name="LOG_DIR" value="C:/SpringLog"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/rest.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="EhCache" class="ch.qos.logback.core.FileAppender">
        <file>${LOG_DIR}/ehCache.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="com.it.config.listener.CustomCacheEventLogger" level="info" additivity="false">
        <appender-ref ref="EhCache"/>
        <appender-ref ref="STDOUT"/>
    </logger>

    <logger name="org.springframework.web.servlet.mvc.method.annotation" level="DEBUG"/>
    <logger name="org.springframework.web" level="DEBUG"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>